<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>구내식당</title>
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />
  </head>
  <body class="container">
    <h1>
      식단 평가 및 신청
      <a href="/new-entry" class="btn btn-primary pull-right">
        오늘의 식단을 평가하고 희망 메뉴를 신청해주세요
      </a>
    </h1>
  </body>
</html>
