<% include header %>

<h2>식단 평가 및 메뉴 요청</h2>

<form method="post" role="form">
  <div class="form-group">
    <label for="title">식단 평가</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="오늘의 식단은 어떠셨나요" required>
  </div>
  <div class="form-group">
    <label for="body">희망 메뉴</label>
    <textarea class="form-control" id="body" name="body" placeholder="원하는 메뉴를 작성해주세요" rows="3" required></textarea>
  </div>
  <div class="form-group">
    <input type="submit" value="등록" class="btn btn-primary">
  </div>
</form>

<% include footer %>
